@import '../../scss/variables';

.membersTiles__wrapper {

}

.membersTiles__container {

}

.membersTiles__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  @media (max-width: 960px) {
    justify-content: center;
  }
}

.membersTiles__more {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  border: 1px solid $divider-color;
  padding-top: -5px;
  font-size: 24px;
  font-weight: 900;
  color: $secondary-text-color;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    border-color: $secondary-text-color;
    background-color: $secondary-text-color;
    color: #fff;
  }
}
