@import '../../scss/variables';

.projectDialog__container {
  box-sizing: border-box;
  display: flex;
  padding: 50px !important;
}


.projectDialog__images {
  width: 375px;
  margin-right: 40px;
}

.projectDialog__mainImage {
  width: 375px;
  height: 375px;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.projectDialog__carousel {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 100px;
  margin-top: 25px;
}

.projectDialog__arrow {
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  i {
    font-size: 24px;
    color: $divider-color;
  }
}

.projectDialog__carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 100px;
}

.projectDialog__miniImg {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .5;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.projectDialog__mainMiniImg {
  width: 120px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .3s;
}

.projectDialog__textContent {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  line-height: 1.3;
  padding: 0 10px;
}

.projectDialog__name {
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 900;
  color: $primary-text-color;
}

.projectDialog__header {
  margin-bottom: 35px;
  font-size: 22px;
  color: $secondary-text-color;

}

.projectDialog__description {
  white-space: pre-wrap;

  h1, h2, h3, h4, h5, h6 { font-weight: 500; color: $primary-text-color; }
  ol { list-style: decimal; }
  ul { list-style: disc; }
  a { color: $primary-color !important; text-decoration: underline !important; }
  strong { font-weight: 500; }
  h1 { font-size: 48px; }
  h2 { font-size: 36px; }
  h3 { font-size: 30px; }
  h4 { font-size: 24px; }
  h5 { font-size: 20px; }
  h6 { font-size: 16px; text-transform: uppercase; }
  p, ol, ul { font-size: 16px; color: $secondary-text-color; margin-bottom: 10px;}
}

.projectDialog__socials {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 40px;
  padding-top: 40px;
}

.projectDialog__socialCircle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  transition: all .6s;

  &:hover {
    cursor: pointer;
    background-color: #fff !important;
  }
}
