@import '../../scss/variables';

.passwordRecoveryNew__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: $primary-color-dark;

  @media (max-width: 800px) {
    min-height: calc(100vh - 60px);
    padding-top: 60px;
  }

  @media (max-height: 900px) {
    min-height: calc(100vh - 60px);
    padding-top: 60px;
  }
}

.passwordRecoveryNew__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordRecoveryNew__form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 450px;
  padding: 40px 50px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media (max-width: 500px) {
    width: 328px;
    padding: 40px 10px;
  }
}

.passwordRecoveryNew__header {
  width: 650px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.passwordRecoveryNew__buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.passwordRecoveryNew__button {
  margin-top: 50px;
  font-weight: 500;
}
