@import '../../scss/variables';

.projectsTiles__wrapper {

}

.projectsTiles__container {

}

.projectsTiles__labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectsTiles__label {
  padding-bottom: 5px;
  margin: 0 12px 15px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: $primary-text-color;
  transition: color .3s;

  &:hover {
    cursor: pointer;
    border-bottom: 2px solid $primary-text-color;
  }

  @media (max-width: 960px) {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.projectsTiles__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  @media (max-width: 960px) {
    justify-content: center;
  }
}

.projectsTiles__more {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  margin: 30px auto 0;
  border: 1px solid $divider-color;
  padding-top: -5px;
  font-size: 24px;
  font-weight: 900;
  color: $secondary-text-color;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    border-color: $secondary-text-color;
    background-color: $secondary-text-color;
    color: #fff;
  }
}
