@import '../../scss/variables';

.membersDialog__modal > div > div {
  width: 470px !important;
  max-width: unset !important;

  @media (max-width: 600px) {
    width: 90% !important;
    transform: translate(0px, 20px) !important;
  }
}

.membersDialog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px !important;
  background-color: #fff;

  @media (max-width: 700px) {
    padding: 20px !important;
  }

  &::-webkit-scrollbar-track {
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  	border-radius: 10px;
  	background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
  	width: 8px;
  	background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  	background-color: $primary-text-color;
  }
}

.membersDialog__image {
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 20px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.membersDialog__name {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}

.membersDialog__role {
  font-size: 18px;
  line-height: 1.3;
  color: $secondary-text-color;
}

.membersDialog__line {
  width: 165px;
  min-height: 2px;
  margin: 30px auto;
  background-color: $divider-color;
}

.membersDialog__description {
  font-size: 18px;
  line-height: 1.3;
  color: $secondary-text-color;
}

.membersDialog__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110px;
}

.membersDialog__socialCircle {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-height: 50px;
  border-radius: 100%;
  margin-right: 20px;
  font-size: 24px;
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #fff !important;
  }

  i {
    color: #fff;
  }
}
