@import '../../scss/variables';

.collapsible__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.collapsible__title {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.collapsible__description {
  box-sizing: border-box;
  padding: 20px 30px;
  border-width: 1px;
  border-style: solid;
  line-height: 1.5;
  color: $secondary-text-color;
}
