@import '../../scss/variables';

.membersTile2__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  transition: all .3s;

  &:hover {
    filter: grayscale(0) !important;
  }

  @media (min-width: 1201px) {
    margin-right: 25px;
    margin-bottom: 25px;
    &:nth-child(4n), &:last-child { margin-right: 0 }
  }

  @media (max-width: 1200px) and (min-width: 961px) {
    width: 273px;
    height: 273px;
    margin-right: 40px;
    margin-bottom: 40px;
    &:nth-child(3n), &:last-child { margin-right: 0 }
  }

  @media (max-width: 960px) and (min-width: 701px) {
    width: 310px;
    height: 310px;
    margin-right: 40px;
    margin-bottom: 40px;
    &:nth-child(2n) { margin-right: 0 }
  }

  @media (max-width: 700px) {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
  }
}

.membersTile2__image {
  width: 165px;
  height: 165px;
  margin-bottom: 10px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    cursor: pointer;
  }
}

.membersTile2__name {
  margin-bottom: 5px;
  font-size: 24px;
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.3;

  &:hover {
    cursor: pointer;
  }
}

.membersTile2__role {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}

.membersTile2__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: $divider-color;
  transition: all .3s;
}

.membersTile2__social {
  margin-right: 15px;
  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-right: 0;
  }
}
