@import '../../../scss/variables';

.renderSocials__field {
  width: 400px !important;

  @media (max-width: 1200px) {
    width: 310px !important;
  }

  @media (max-width: 960px) {
    width: 190px !important;
  }
}
.renderSocials__deleteSocial {
  margin-top: 15px;
  color: $secondary-text-color;
  opacity: .7;
  transition: all .3s;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
.renderSocials__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.renderSocials__add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  border: 1px solid  $secondary-text-color;
  color: $secondary-text-color;

  &:hover {
    cursor: pointer;
    border: 1px solid  $accent-color;
    color: $accent-color;
  }
}
