@import '../../scss/variables';

.collapsible__element {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 20px;
  transition: all .3s;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    width: 100%;
  }
}

.collapsible__title {
  user-select: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;

  &:hover {
    cursor: pointer;
  }
}

.collapsible__descriptionContainer {
  overflow: hidden;
  box-sizing: border-box;
  height: 0;
  border-width: 1px;
  border-style: solid;

  &.active {
    height: auto;
  }
}

.collapsible__description {
  padding: 20px 30px;
  line-height: 1.5;
  color: $secondary-text-color;
}
