.social__bitbucket {
  &.textHover:hover {
    color: #205081;
    i { color: #205081; }
  }
  &.text {
    color: #205081;
  }
  &.bgHover:hover {
    background-color: #205081;
  }
  &.bg {
    background-color: #205081;
  }
  &.borderHover:hover {
    border: 1px solid #205081;
  }
  &.border {
    border-color: #205081;
  }
}

.social__behance {
  &.textHover:hover {
    color: #0B7CFF;
    i { color: #0B7CFF; }
  }
  &.text {
    color: #0B7CFF;
  }
  &.bgHover:hover {
    background-color: #0B7CFF;
  }
  &.bg {
    background-color: #0B7CFF;
  }
  &.borderHover:hover {
    border: 1px solid #0B7CFF;
  }
  &.border {
    border-color: #0B7CFF;
  }
}

.social__codepen {
  &.textHover:hover {
    color: #000000;
    i { color: #000000; }
  }
  &.text {
    color: #000000;
  }
  &.bgHover:hover {
    background-color: #000000;
  }
  &.bg {
    background-color: #000000;
  }
  &.borderHover:hover {
    border: 1px solid #000000;
  }
  &.border {
    border-color: #000000;
  }
}

.social__dribbble {
  &.textHover:hover {
    color: #E84C88;
    i { color: #E84C88; }
  }
  &.text {
    color: #E84C88;
  }
  &.bgHover:hover {
    background-color: #E84C88;
  }
  &.bg {
    background-color: #E84C88;
  }
  &.borderHover:hover {
    border: 1px solid #E84C88;
  }
  &.border {
    border-color: #E84C88;
  }
}

.social__facebook {
  &.textHover:hover {
    color: #3B5998;
    i { color: #3B5998; }
  }
  &.text {
    color: #3B5998;
  }
  &.bgHover:hover {
    background-color: #3B5998;
  }
  &.bg {
    background-color: #3B5998;
  }
  &.borderHover:hover {
    border: 1px solid #3B5998;
  }
  &.border {
    border-color: #3B5998;
  }
}

.social__flickr {
  &.textHover:hover {
    color: #0063DB;
    i { color: #0063DB; }
  }
  &.text {
    color: #0063DB;
  }
  &.bgHover:hover {
    background-color: #0063DB;
  }
  &.bg {
    background-color: #0063DB;
  }
  &.borderHover:hover {
    border: 1px solid #0063DB;
  }
  &.border {
    border-color: #0063DB;
  }
}

.social__github {
  &.textHover:hover {
    color: #7F0081;
    i { color: #7F0081; }
  }
  &.text {
    color: #7F0081;
  }
  &.bgHover:hover {
    background-color: #7F0081;
  }
  &.bg {
    background-color: #7F0081;
  }
  &.borderHover:hover {
    border: 1px solid #7F0081;
  }
  &.border {
    border-color: #7F0081;
  }
}

.social__instagram {
  &.textHover:hover {
    color: #D40D5E;
    i { color: #D40D5E; }
  }
  &.text {
    color: #D40D5E;
  }
  &.bgHover:hover {
    background-color: #D40D5E;
  }
  &.bg {
    background-color: #D40D5E;
  }
  &.borderHover:hover {
    border: 1px solid #D40D5E;
  }
  &.border {
    border-color: #D40D5E;
  }
}

.social__linkedin {
  &.textHover:hover {
    color: #1B84BB;
    i { color: #1B84BB; }
  }
  &.text {
    color: #1B84BB;
  }
  &.bgHover:hover {
    background-color: #1B84BB;
  }
  &.bg {
    background-color: #1B84BB;
  }
  &.borderHover:hover {
    border: 1px solid #1B84BB;
  }
  &.border {
    border-color: #1B84BB;
  }
}

.social__medium {
  &.textHover:hover {
    color: #18B475;
    i { color: #18B475; }
  }
  &.text {
    color: #18B475;
  }
  &.bgHover:hover {
    background-color: #18B475;
  }
  &.bg {
    background-color: #18B475;
  }
  &.borderHover:hover {
    border: 1px solid #18B475;
  }
  &.border {
    border-color: #18B475;
  }
}

.social__pinterest {
  &.textHover:hover {
    color: #BD081B;
    i { color: #BD081B; }
  }
  &.text {
    color: #BD081B;
  }
  &.bgHover:hover {
    background-color: #BD081B;
  }
  &.bg {
    background-color: #BD081B;
  }
  &.borderHover:hover {
    border: 1px solid #BD081B;
  }
  &.border {
    border-color: #BD081B;
  }
}

.social__snapchat {
  &.textHover:hover {
    color: #EFE200;
    i { color: #EFE200; }
  }
  &.text {
    color: #EFE200;
  }
  &.bgHover:hover {
    background-color: #EFE200;
  }
  &.bg {
    background-color: #EFE200;
  }
  &.borderHover:hover {
    border: 1px solid #EFE200;
  }
  &.border {
    border-color: #EFE200;
  }
}

.social__twitter {
  &.textHover:hover {
    color: #6FAEDC;
    i { color: #6FAEDC; }
  }
  &.text {
    color: #6FAEDC;
  }
  &.bgHover:hover {
    background-color: #6FAEDC;
  }
  &.bg {
    background-color: #6FAEDC;
  }
  &.borderHover:hover {
    border: 1px solid #6FAEDC;
  }
  &.border {
    border-color: #6FAEDC;
  }
}

.social__youtube {
  &.textHover:hover {
    color: #BC3428;
    i { color: #BC3428; }
  }
  &.text {
    color: #BC3428;
  }
  &.bgHover:hover {
    background-color: #BC3428;
  }
  &.bg {
    background-color: #BC3428;
  }
  &.borderHover:hover {
    border: 1px solid #BC3428;
  }
  &.border {
    border-color: #BC3428;
  }
}
