.social__bitbucket:hover {
  color: #205081;
}

.social__behance:hover {
  color: #0B7CFF;
}

.social__codepen:hover {
  color: #000000;
}

.social__dribbble:hover {
  color: #E84C88;
}

.social__facebook:hover {
  color: #3B5998;
}

.social__flickr:hover {
  color: #0063DB;
}

.social__github:hover {
  color: #7F0081;
}

.social__instagram:hover {
  color: #D40D5E;
}

.social__linkedin:hover {
  color: #1B84BB;
}

.social__medium:hover {
  color: #18B475;
}

.social__pinterest:hover {
  color: #BD081B;
}

.social__snapchat:hover {
  color: #EFE200;
}

.social__twitter:hover {
  color: #6FAEDC;
}

.social__youtube:hover {
  color: #BC3428;
}
