@import '../../scss/variables';

.numbers__wrapper {
  margin-bottom: -60px;
}

.numbers__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.numbers__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 60px;
  padding: 0 40px;
}

.numbers__number {
  font-size: 48px;
  font-weight: 500;
}

.numbers__line {
  width: 30px;
  height: 2px;
  margin: 10px 0;
}

.numbers__description {
  font-size: 18px;
  line-height: 1.3;
  color: $primary-text-color;
}
